<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 기본 mapper -->
<mapper namespace="userMember">
	<select id="login"  parameterType="String" resultType="com.ict.db.MemberVO"  >
      select * from userMember where id=#{id} and pwd = #{pwd}
   </select>
   <insert id="insert" parameterType="com.ict.db.MemberVO" >
   		insert into userMember
   		values(userMember_seq.nextval, #{id}, #{pwd}, #{name}, #{email}, #{addr}, #{phone}, sysdate) 
   </insert>
  
</mapper>














